In [1]:
import pandas as pd
import plotly as py
import plotly.graph_objs as go
from plotly.offline import plot
import random
import numpy as np
import os
import csv
import codecs

In [2]:
phrases = pd.read_csv('./results/AutoPhrase.txt', delimiter='\t', header=None,
                          names=['ranking_score', 'phrases'])

In [3]:
phrases.head()

   ranking_score           phrases
0       0.975979        west texas
1       0.969384   solomon islands
2       0.968445    searles valley
3       0.966145  seismic activity
4       0.951945      flash update

In [4]:
phrases = phrases[phrases.ranking_score >= 0.9]['phrases'].to_list()
phrases

['west texas',
 'solomon islands',
 'searles valley',
 'seismic activity',
 'flash update',
 'sandwich islands',
 'south sandwich islands',
 'north cotabato',
 'city council']

In [5]:
phrase_count = [ 0 for p in phrases]
phrase_count

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [6]:
with open("data/raw_train.txt", encoding='utf-8', errors='ignore') as f:
    lines = f.readlines()
    for row in lines:
        for i in range(len(phrases)):
            if str(row).lower().find(phrases[i]):
                phrase_count[i] += 1

In [10]:
phrase_count = [2767, 2766, 2767, 2767, 2767, 2767, 2767, 2767, 2767]

In [11]:
phrase_count_norm = [float(i)/max(phrase_count) for i in phrase_count]

In [12]:
phrase_count_norm

[1.0, 0.9996385977593061, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]