In [1]:
import pandas as pd
import plotly as py
import plotly.graph_objs as go
from plotly.offline import plot
import random
import numpy as np
import os
import csv
import codecs

Array = []
column = 'text'
try:
    with open('data/hongkong.csv','r',encoding="utf-8", errors="ignore") as f:
        reader = csv.reader(f)
        try:
            for row in reader:
                Array.append(row)
        except Exception as e:
            pass
except:
    with open('data/hongkong.csv','r',encoding="ISO-8859-1", errors="ignore") as f:
        reader = csv.reader(f)
        try:
            for row in reader:
                Array.append(row)
        except Exception as e:
            pass

df = pd.DataFrame(Array[1:],columns=Array[0])
df[df[column]!=''][column].dropna().astype('str').to_csv('data/raw_train.txt', index=False)

In [2]:
phrases = pd.read_csv('./results/AutoPhrase.txt', delimiter='\t', header=None,
                          names=['ranking_score', 'phrases'])

In [3]:
phrases.head()

   ranking_score             phrases
0       0.976296       urban council
1       0.975967         nathan road
2       0.975283  legislator charles
3       0.974058           basic law
4       0.973590               video

In [4]:
phrases = phrases[phrases.ranking_score >= 0.8]['phrases'].to_list()

In [13]:
phrase_count = [ 0 for p in phrases]
with open("data/raw_train.txt", encoding='utf-8', errors='ignore') as f:
    lines = f.readlines()
    for row in lines:
        for i in range(len(phrases)):
            if str(row).lower().find(phrases[i]) > 0:
                phrase_count[i] += 1
phrase_count.sort(reverse = True)

In [15]:
phrase_count

[1583,
 1324,
 824,
 627,
 351,
 335,
 249,
 173,
 143,
 112,
 108,
 105,
 93,
 92,
 88,
 88,
 84,
 72,
 66,
 63,
 61,
 60,
 50,
 49,
 38,
 37,
 37,
 37,
 37,
 33,
 32,
 32,
 26,
 24,
 24,
 23,
 20,
 20,
 20,
 18,
 16,
 16,
 15,
 13,
 13,
 13,
 12,
 10,
 10,
 8,
 8,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [16]:
from word_cloud import word_cloud
word_cloud(phrases, phrase_count)

[25.0, 16.319116427035173, 9.248056104131127, 8.418403612186335, 8.041091663951974, 8.034096083039488, 8.010406930405683, 8.002424988450034, 8.001132059912429, 8.000425987987569, 8.000368315744256, 8.000329065580303, 8.000202514934635, 8.000193944099511, 8.000162351367294, 8.000162351367294, 8.000134785261691, 8.000072753727261, 8.000051368987307, 8.000042646899207, 8.000037483885446, 8.00003508570952, 8.000016920191705, 8.00001560664609, 8.000005644944137, 8.000005073786145, 8.000005073786145, 8.000005073786145, 8.000005073786145, 8.000003210561706, 8.00000283873711, 8.00000283873711, 8.000001237139443, 8.000000898194164, 8.000000898194164, 8.000000757594139, 8.000000433156908, 8.000000433156908, 8.000000433156908, 8.000000284194247, 8.00000017742107, 8.00000017742107, 8.000000137053553, 8.000000077321216, 8.000000077321216, 8.000000077321216, 8.000000056137136, 8.000000027072307, 8.000000027072307, 8.000000011088817, 8.000000011088817, 8.000000006500061, 8.000000006500061, 8.000000006500061, 8.000000006500061, 8.000000003508571, 8.000000003508571, 8.000000003508571, 8.000000003508571, 8.000000001692019, 8.000000001692019, 8.000000000693051, 8.000000000693051, 8.000000000693051, 8.000000000693051, 8.000000000693051, 8.000000000693051, 8.000000000693051, 8.000000000219286, 8.000000000219286, 8.000000000219286, 8.000000000219286, 8.000000000043316, 8.000000000043316, 8.000000000043316, 8.000000000043316, 8.000000000043316, 8.000000000043316, 8.000000000043316, 8.000000000043316, 8.000000000043316, 8.000000000043316, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.000000000002707, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0]